In [8]:
import pandas as pd

In [12]:
import numpy as np

In [16]:
student_perfomance = pd.read_csv('https://stepik.org/media/attachments/course/4852/StudentsPerformance.csv')

In [20]:
student_perfomance.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [82]:
mean_scores = student_perfomance.groupby(['gender', 'race/ethnicity'])\
.aggregate({'math_score':'mean', 'reading_score': 'mean'})\
.rename(columns = {'math_score': 'mean_math_score', 'reading_score': 'mean_reading_score' })

KeyError: "Column(s) ['math_score', 'reading_score'] do not exist"

In [66]:
mean_scores.index

MultiIndex([('female', 'group A'),
            ('female', 'group B'),
            ('female', 'group C'),
            ('female', 'group D'),
            ('female', 'group E'),
            (  'male', 'group A'),
            (  'male', 'group B'),
            (  'male', 'group C'),
            (  'male', 'group D'),
            (  'male', 'group E')],
           names=['gender', 'race/ethnicity'])

In [68]:
mean_scores.loc[('female', 'group A')]

math score       58.527778
reading score    69.000000
Name: (female, group A), dtype: float64

In [78]:
student_perfomance.groupby(['gender', 'race/ethnicity']).math score.nunique()

SyntaxError: invalid syntax (2468953754.py, line 1)